.flex {
    padding: 1px;
    margin: 0;
    display: flex;
    height: 60vh;
}

    .flex div:first-child {
    border: black, 10px, solid;
    flex: 1;
    background-size: cover;
    background-position: center;
}

    .flex div:last-child {
    flex: 2;
}

    
.flex h3 {
    font-size: 2.5rem;
    margin-top: 0;
    font-weight: 400;
    text-align: center;
    margin-left: 135px;
    margin-right: 110px;
    background-color: #A5C9CA;
    color: #2C3333;
    font-weight: 800;
    padding: 0.1em; 
    box-shadow: 10px 10px 10px black;
}
    
.flex p {
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
}

    .flex p:last-of-type {
    margin-bottom: 0;
    
}

    .flex:first-of-type div:first-child {
    background-image: url("../images/IMG_0863.JPG");
}

.aboutMeStuff {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-image: url("../images/dfe0f8f67462bc006e1a96f8ea4d9c2f.jpg");
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode:darken;
}

@media screen and (max-width: 800px) {
    .flex {
        padding-bottom: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .flex h3 {
        display: flex;
        justify-content: center;
        background-color: black;
        color:#E7F6F2;
    }
}
