.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 0.2rem;
    background-color: #395B64;
    position: relative;
    width: 100%;
    height:fit-content;
    color: #E7F6F2;
}